@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0c0f22; 
    margin: 0;
    height: 100%;
    max-height: 33.3vh;
  
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'FontAwesome', 
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


