@font-face {
    font-family: 'Poppins Regular';
    src: url('../pages/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../pages/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Extra Bold';
    src: url('../pages/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../pages/assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container_page {
    margin: 1vh auto;

}

.header {
    display: flex;

    margin: auto auto;
    justify-content: space-between;

    font-size: 40pt;
    font-weight: normal;
    color: #fcfcfc;
    font-family: 'Poppins Regular';
}

.container_body {
    display: flex;
    margin: 5vh auto;

}

.container_countdown {
    margin: auto auto;

}

.countdown {
    margin: auto auto;

}

.countdownDiv {
    width: auto;
}

.wallet_container {
    margin: auto 2vh;
    background-color: #105b72;
}

.multi_wallet {
    text-align: center;
    background-color: #105b72;
}

.styledText {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    color: #fcfcfc;
    font-family: 'Poppins Regular';
}

.styledContainer {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    color: #fcfcfc;
    font-family: 'Poppins Regular';

    background-color: #105b72;  
    width: 300px;
}

.colorText {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color: #105b72;
    font-family: 'Poppins Regular';
}


.content_text {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    color: #fcfcfc;
    font-family: 'Poppins Regular';
    inline-size: 300px;
    margin: 5% auto;
}

.container_left {
    margin: auto auto;


}

.container_right {
    margin: auto auto;
}

.content_leftTitle {
    margin: auto auto;
    text-align: center;
    font-size: 70pt;
    font-weight: bold;
    color: #105b72;
    font-family: 'Poppins Bold';
}

.content_leftText {
    margin: 5% auto;


    font-family: 'Poppins Light';
    font-size: 18pt;
    font-weight: normal;
    color: #fcfcfc;
    text-align: center;
}

.content_leftPrice {
    margin: auto;
    margin-top: 45%;
    inline-size: 220px;

    font-family: 'Poppins Regular';
    font-size: 14pt;
    font-weight: normal;
    color: #105b72;
    text-align: center;
}

.content_socials {
    vertical-align: top;
    text-align: center;

    margin: 15% auto;
}

.content_discord {
    margin: auto auto;
    text-decoration: none;
}

.content_twitter {
    margin: auto 0vh;
    text-decoration: none;
}



.content_wallet_to_start {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    color: #fcfcfc;
    font-family: 'Poppins Regular';
    inline-size: 300px;
    margin: auto;
}

.cover_image {
    margin: 5% auto;
    width: 70%;
}

.container_wallet {
    margin: auto auto;
    text-align: center;

}

.container_details {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    color: #fcfcfc;
    font-family: 'Poppins Regular';
    inline-size: 300px;
    margin: auto;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.connect_wallet {
    margin: auto; 
}

.button_connect:hover {
    background-color: #ff2424d0;
}



.content_mint {
    width: 25%;
    color:#FFFFFF;
    font-family: 'Poppins Light';
    font-size: 15px;
    font-weight: lighter;
}

.container_generic {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 400px;
}

.button_mint {
    background-color: #105b72;
    height: 35px;
}